<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.connor.yeehaw</string>
	<key>connections</key>
	<dict>
		<key>080E9E81-6D6A-4D46-AF5A-4C45B57A9213</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FC2258F-430B-4E65-A051-A25EE91AA649</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CC128AC5-2854-4967-A322-560BFBDAC85B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>63ABD7F7-AE10-4166-809E-648725AF6BFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>136009C2-BB9B-4516-A6F0-D07F247539E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E426046-B5D0-4DA4-A99F-D03CCCD18282</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D792C07-671A-402B-A42E-6C7324CE9B1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8EAEA55-02BE-490C-B397-145C2A9121A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4028D3DA-D976-4553-9A78-EC29AF07FAE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>080E9E81-6D6A-4D46-AF5A-4C45B57A9213</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47E1E5AD-AD15-4385-88A9-C99A4CC38BB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4028D3DA-D976-4553-9A78-EC29AF07FAE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60DBB687-1096-4B02-B6F6-ADD475BCF9D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CC7AF1A-F130-4D6D-8C68-18C1DC0FC6B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D792C07-671A-402B-A42E-6C7324CE9B1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6ECA20BB-8D1B-4AFC-B974-DFDB49716238</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B980C458-3FC2-426D-806A-3D098D742289</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0C28CB23-57CD-42A3-9B85-980DAA730F1D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47E1E5AD-AD15-4385-88A9-C99A4CC38BB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9BF88E36-C8AC-471B-9E71-7FF5A6242413</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60DBB687-1096-4B02-B6F6-ADD475BCF9D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F133E52-E99D-43F8-A234-C8579D23B318</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75AEB974-126B-4E9B-B016-62F1066B9B5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D792C07-671A-402B-A42E-6C7324CE9B1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89FE3CA1-F54A-4BD3-AA5B-717A90993119</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7FE73F4-438C-46D3-9C1A-4798E185E526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E426046-B5D0-4DA4-A99F-D03CCCD18282</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E19299B3-A7D5-471B-9BDC-584D36106246</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8EAEA55-02BE-490C-B397-145C2A9121A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F70947EB-ABCD-4257-8BEC-606345B1283D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CC128AC5-2854-4967-A322-560BFBDAC85B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>136009C2-BB9B-4516-A6F0-D07F247539E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7FE73F4-438C-46D3-9C1A-4798E185E526</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CC7AF1A-F130-4D6D-8C68-18C1DC0FC6B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB56ABF6-0141-43B9-A23D-67C05F91CC24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7FE73F4-438C-46D3-9C1A-4798E185E526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Connor Hipps</string>
	<key>description</key>
	<string>Save Tabs to Read Later!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Save for Later</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Try again with your brower open.</string>
				<key>title</key>
				<string>Something Went Wrong 🛑</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F70947EB-ABCD-4257-8BEC-606345B1283D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>tampermonkey</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>75AEB974-126B-4E9B-B016-62F1066B9B5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>70</integer>
				<key>script</key>
				<string>tell application "System Events"
    set frontApp to name of first application process whose frontmost is true
end tell

set tabURL to ""
set tabName to ""

if frontApp contains "Brave" then
    tell application "Brave Browser"
        set currentWindow to the first window whose index is 1
        set currentTab to currentWindow's active tab
        set tabURL to currentTab's URL
        set tabName to currentTab's title
    end tell
end if

if tabURL is "" then
    error "No URL to acquire."
end if

return tabName &amp; " | " &amp; tabURL</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D792C07-671A-402B-A42E-6C7324CE9B1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:note}</string>
				<key>title</key>
				<string>Saved! 🔖</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E19299B3-A7D5-471B-9BDC-584D36106246</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:filePath}</string>
				<key>filetext</key>
				<string>- {query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>8E426046-B5D0-4DA4-A99F-D03CCCD18282</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Fail 🛑</string>
						<key>uid</key>
						<string>CC128AC5-2854-4967-A322-560BFBDAC85B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Pass ✔️</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A8EAEA55-02BE-490C-B397-145C2A9121A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>note</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>136009C2-BB9B-4516-A6F0-D07F247539E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>Read What You've Saved for Later!</string>
				<key>text</key>
				<string>Save for Later 🔖</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EB56ABF6-0141-43B9-A23D-67C05F91CC24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>89FE3CA1-F54A-4BD3-AA5B-717A90993119</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>{var:filePath}</string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>B980C458-3FC2-426D-806A-3D098D742289</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Save 🔖","arg":"save","subtitle":"Save Current Browser Tab\/URL for Reading"},{"title":"Read 📚","arg":"read","subtitle":"Opens file in Alfred Previewer"},{"title":"Clear 🧹","arg":"clear","subtitle":"Clear File"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B7FE73F4-438C-46D3-9C1A-4798E185E526</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>save</string>
						<key>outputlabel</key>
						<string>Save</string>
						<key>uid</key>
						<string>6ECA20BB-8D1B-4AFC-B974-DFDB49716238</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>read</string>
						<key>outputlabel</key>
						<string>Read</string>
						<key>uid</key>
						<string>0C28CB23-57CD-42A3-9B85-980DAA730F1D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clear</string>
						<key>outputlabel</key>
						<string>Clear</string>
						<key>uid</key>
						<string>9BF88E36-C8AC-471B-9E71-7FF5A6242413</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4CC7AF1A-F130-4D6D-8C68-18C1DC0FC6B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Check your file settings and try again.</string>
				<key>title</key>
				<string>Something Went Wrong 🛑</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2FC2258F-430B-4E65-A051-A25EE91AA649</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:filePath}</string>
				<key>filetext</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>4028D3DA-D976-4553-9A78-EC29AF07FAE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your saved file has been cleared.</string>
				<key>title</key>
				<string>Cleared! 🧹</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>63ABD7F7-AE10-4166-809E-648725AF6BFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Fail 🛑</string>
						<key>uid</key>
						<string>CC128AC5-2854-4967-A322-560BFBDAC85B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Pass ✔️</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>080E9E81-6D6A-4D46-AF5A-4C45B57A9213</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Yes</string>
				<key>button2</key>
				<string>No</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>title</key>
				<string>Are you sure?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>47E1E5AD-AD15-4385-88A9-C99A4CC38BB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your saved file is safe.</string>
				<key>title</key>
				<string>Nothing Deleted! 😮‍💨</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7F133E52-E99D-43F8-A234-C8579D23B318</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>60DBB687-1096-4B02-B6F6-ADD475BCF9D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>080E9E81-6D6A-4D46-AF5A-4C45B57A9213</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>136009C2-BB9B-4516-A6F0-D07F247539E1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Tab/URL Var</string>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>2FC2258F-430B-4E65-A051-A25EE91AA649</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Clear Failed</string>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>3D792C07-671A-402B-A42E-6C7324CE9B1E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Save Tab

Fetches the current tab's URL and title from Brave Browser if it's the active application, otherwise, it prompts the user to focus on the browser.</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>4028D3DA-D976-4553-9A78-EC29AF07FAE2</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Clear File</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>47E1E5AD-AD15-4385-88A9-C99A4CC38BB3</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>4CC7AF1A-F130-4D6D-8C68-18C1DC0FC6B9</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>60DBB687-1096-4B02-B6F6-ADD475BCF9D4</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>63ABD7F7-AE10-4166-809E-648725AF6BFA</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Clear Success</string>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>75AEB974-126B-4E9B-B016-62F1066B9B5C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Tampermonkey Trigger</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>7F133E52-E99D-43F8-A234-C8579D23B318</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>File Untouched</string>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>89FE3CA1-F54A-4BD3-AA5B-717A90993119</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>8E426046-B5D0-4DA4-A99F-D03CCCD18282</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Write to File</string>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>A8EAEA55-02BE-490C-B397-145C2A9121A9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>B7FE73F4-438C-46D3-9C1A-4798E185E526</key>
		<dict>
			<key>note</key>
			<string>Workflow Options</string>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>B980C458-3FC2-426D-806A-3D098D742289</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Open File</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>E19299B3-A7D5-471B-9BDC-584D36106246</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>File Appended</string>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>EB56ABF6-0141-43B9-A23D-67C05F91CC24</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>F70947EB-ABCD-4257-8BEC-606345B1283D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Save Failed</string>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>save</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Select a keyword to initiate the workflow.</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/saveforlater.md</string>
				<key>filtermode</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Select the location to save the "save for later" file.</string>
			<key>label</key>
			<string>File Path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>filePath</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
